<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Personal Expense analysis</title>
    <meta name="description" content="HackUTD VII Seas submission">
    <meta name="author" content="Egan Johnson">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container container-md">
        <form action="/conclusion/" method="GET">

            <input type="hidden" name="numberOfBills" value="<%=billList.length%>">

            <div class="accordion" id="inputAccordion">
                <div class="card">
                    <div class="card-header" id="collapseHeaderSavings">
                        <h1 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseBodySavings" aria-expanded="true"
                                aria-controls="collapseBodySavings">
                                Total Savings
                            </button>
                        </h1>
                    </div>
                    <div id="collapseBodySavings" class="collapse show" aria-labelledby="collapseHeaderSavings"
                        data-parent="#inputAccordion">
                        <div class="card-body">
                            <div class="row align-items-end">
                                <div class="col-6">
                                    <p>We've got some idea of what you've saved so far, but please check this number if
                                        you have any extra cash squirreled away out of sight.</p>
                                    $<input type="number" step="0.01" value="<%= totalSavings/100%>" name="totalSaved">
                                </div>
                                <div class="col">
                                    <button
                                        onclick="document.getElementById('collapseBodySavings').scrollIntoView(true);"
                                        class="btn btn-primary" data-toggle="collapse" data-target="#collapseBodyBill1"
                                        aria-expanded="true" type="button" style="float:right">
                                        Looks good
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <% var i=0; for (bill of billList){ i++;%>
                <div class="card" id="accordionCard<%=i%>">
                    <div class="card-header" id="collapseHeaderBill<%=i%>">
                        <h1 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseBodyBill<%=i%>" aria-expanded="true"
                                aria-controls="collapseBodyBill<%=i%>">
                                Expense paid to: <%=bill.payee%>
                            </button>
                        </h1>
                    </div>
                    <div id="collapseBodyBill<%=i%>" class="collapse hidden" aria-labelledby="collapseHeaderBill<%=i%>"
                        data-parent="#inputAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>Payment amount: </p>
                                    <p>$<%=bill.amount%></p>
                                </div>
                                <div class="col">
                                    <p>Date:</p>
                                    <p><%=bill.date%></p>
                                </div>
                                <div class="col">
                                    <p>Was this expense necessary?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="true"
                                            name="isNecessary<%=i%>" id="necessaryTrue<%=i%>">
                                        <label class="form-check-label" for="necessaryTrue<%=i%>">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="false"
                                            name="isNecessary<%=i%>" id="necessaryFalse<%=i%>">
                                        <label class="form-check-label for=" necessaryFalse<%=i%>">No</input>
                                    </div>
                                    <input style="visibility: hidden;" type="radio" value="unknown"
                                        name="isNecessary<%=i%>" checked>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="category<%=i%>">What category is this expense?</label>
                                        <select class="form-control" id="category<%=i%>" name="category<%=i%>">
                                            <option>--</option>
                                            <option>Housing and Transportation</option>
                                            <option>Education or Professional</option>
                                            <option>Food</option>
                                            <option>Medical and Insurance</option>
                                            <option>Entertainment</option>
                                            <option>Investment and Debt Repayment</option>
                                            <option>Household and Necessities</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-end">
                                <div class="col"> <a
                                        href="https://www.capitalone.com/support-center/credit-cards/report-fraud">I
                                        don't recognize this payment.</a>
                                </div>

                                <div class="col">
                                    <button
                                        onclick="document.getElementById('collapseBodyBill<%=i%>').scrollIntoView(true);"
                                        class="btn btn-primary" data-toggle="collapse"
                                        data-target="#collapseBodyBill<%=i+1%>" aria-expanded="true" type="button"
                                        style="float:right">
                                        Looks good
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="amount<%=i%>" value="<%=bill.amount%>">
                <% } %>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Let's analyze!</button>
        </form>
    </div>

</body>
<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>
<!DOCTYPE html>